<ul>
<% @clips.each do |clip| %>
    <li id="clip-<%= clip.id %>">
        <%= link_to(clip.video_filename, edit_clip_path(clip.id)) %>,
        start: <%= clip.clip_starttime %>,
        end: <%= clip.clip_endtime %>,
        youtube_pub_date: <%= clip.podcast_pub_datetime %>,
        podcast_pub_date: <%= clip.podcast_pub_datetime %>,
    </li>
<% end %>
</ul>
